/* Add CSS here */
.body-container{
    background-color:#eceff3;
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    }
    .container{
    width: 80%;
    height: 400px;
    background-color: white;
    border-radius:0.3em;
    box-shadow:0 10px 10px rgb(130, 186, 186);
    max-width:700px;
    }
    h1{
    margin: 30px;
    font-weight: 800;
    }
    h2{
    font-size: 10px;
    margin: 30px;
    margin-top:-30px;
    }
    .auction{
    display: flex;
    gap:330px;
    }
    .boxes{
    display: flex;
    margin-left:30px;
    }
    .card-1{
    background-color:rgb(77, 77, 243);
    margin-top:-35px;
    margin-left:-20px ;
    width: 45px;
    height: 20px;
    border-top-left-radius:0.3em;
    border-bottom-left-radius:0.3em;
    align-items: center;
    justify-content: center;
    
    }
    .card-2{
    background-color:rgb(243, 236, 236);
    margin-top:-35px;
    margin-left:-20px ;
    width: 29px;
    height: 20px;
    border-top-right-radius:0.3em;
    border-bottom-right-radius:0.3em;
    align-items: center;
    justify-content: center;
    display: flex;
    }
    .container-1{
    display: flex;
    gap:10px;
    margin: 30px;
    margin-top:-20px;
    }
    .closet-1{
    height: 27px;
    width: 12%;
    border-width:1px;
    border-color: rgb(124, 124, 235);
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    }
    .closet-2{
    height: 27px;
    width: 12%;
    background-color: rgb(68, 68, 238);
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap:5px;
    }
    h4{
    font-size: 10px;
    }
    h5{
    font-size:9px;
    background-color: rgb(73, 73, 242);
    height:17px;
    width:21%;
    border-radius: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    }
    .slits{
    margin:30px;
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
    }
    .slit-1{
    width:97%;
    height: 90px;
    border-width:1px;
    border-color:rgb(188, 188, 238);
    display: flex;
    }
    .menu-1{
    margin:10px;
    height:65px;
    width:22%;
    border-radius:60em;
    }
    .material-symbols-outlined{
    font-size:17px;
    }
    p{
    font-size: 9px;
    margin-top:1px;
    }
    h6{
    font-size:12px;
    margin: 10px;
    font-weight:600;
    }
    .clock{
    margin-top: 55px;
    display: flex;
    margin-left:-120px;
    gap:5px;
    }